@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&family=Michroma&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    background-color: #ffffff;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, input {
    font-family: inherit;
}

a {
    text-decoration: none;
    display: inline-block; 
    color: #ffffff;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer_btm {
    color: #fff !important;
}

.activity_list {
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px){
    
    .category_list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    .advantages_item {
        flex-direction: column;
    }
    .advantages_item a {
        margin-top: 0 !important;
        width: 100%;
    }

    .event_item {
        height: auto !important;
        padding: 20px 0;
    }
    .content_ftr {
        flex-direction: column !important;
        gap: 20px;
    }

    .advantages_item p {
        width: auto !important;
        padding-right: 20px !important;
    }

    .parts_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        row-gap: 55px;
    }
}



@media screen and (max-width: 780px){

    

    .parts_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        row-gap: 55px;
    }

    .form_repair h1 {
        width: auto !important;
    }
    
    .container {
        max-width: 720px;
        margin: 0 20px;
    }

    .advantages_item {
        flex-direction: column;
    }

    .advantages_list {
        display: flex !important;
        flex-wrap: wrap;
    }
    .advantages_item {
        width: 100%;
    }
    .project_card {
        display: flex !important;
        gap: 40px;
        flex-direction: column  !important;
    }
    .event_list {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .cover span {
        font-size: 32px !important;
    }
    .cover p:nth-child(3) {
        width: auto !important;
    }

    .button_form button {
        padding: 17px 17px !important;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    nav {
        flex-direction: column;
        GAP: 20px;
    }
    

    .parts_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        row-gap: 55px;
    }
}

/**навигация**/

header {
    padding-top: 37px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li:not(:last-child) {
    margin-right: 27px;
}

.menu ul li a {
    color: #AAA;
    font-weight: 600;
}

.basket_btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 8px 22px;
    margin-left: 40px;
}

.basket_btn img {
    margin-right: 10px;
}

.basket_btn a {
    color: #000000;
}

.basket_btn:hover {
    border: 2px solid #000000;
    transition: 0.2ms;
    cursor: pointer;
}

/**обложка**/

.cover {
    display: flex;
    flex-direction: column;
    padding: 265px 0 140px;
}

.cover__outer {
    background-image: url('img/Главная/hero.png');

}

.cover p:first-child {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}

.cover span {
    font-size: 64px;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.cover p:nth-child(3) {
    width: 460px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Manrope', sans-serif;
    margin-top: 22px;
    color: #ffffff;
}

.cover_btn {
    display: flex;
    margin-top: 40px;
}

.cover_btn a:first-child {
    background-color: #B22A2A;
    padding: 7px 47px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.cover_btn a:last-child {
    background-color: #ffffff;
    padding: 7px 47px;
    border: 0;
    border-radius: 5px;
    color: #000000;
    margin-left: 26px;
}

/**полоса с брендами под обложкой**/

.brands {
    /* background-color: #E6E6E6; */
    padding: 27px 0;
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.brands img {
    height: 54px;
}

/**секция с преимуществами**/

.container .advantages {
    margin-top: 65px;
}

.advantages h1 {
    margin-bottom: 40px;
}

.advantages_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.advantages_item:nth-child(1) {
    grid-column: 1 / 3;
    background-color: #E6E6E6;
    height: 280px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.advantages_item:nth-child(1) p {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    text-transform: uppercase;
    width: 190px;
    padding: 30px 30px;
}

.advantages_item:nth-child(1) a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #616161;
    padding: 7px 24px;
    border: 0;
    border-radius: 5px;
    margin: 215px 40px 30px 0;
}

.advantages_item:nth-child(2) {
    grid-column: 3 / 5;
    background-color: #E6E6E6;
    height: 280px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.advantages_item:nth-child(2) p {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    text-transform: uppercase;
    width: 230px;
    padding: 30px 0 0 30px;
}

.advantages_item:nth-child(2) a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #616161;
    padding: 7px 24px;
    border: 0;
    border-radius: 5px;
    margin: 215px 40px 30px 0;
}

.advantages_item:nth-child(3) {
    grid-column: 5 / 7;
    background-color: #E6E6E6;
    height: 280px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.advantages_item:nth-child(3) p {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    text-transform: uppercase;
    width: 200px;
    padding: 30px 0 0 30px;
}

.advantages_item:nth-child(3) a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #616161;
    padding: 7px 24px;
    border: 0;
    border-radius: 5px;
    margin: 215px 40px 30px 0;
}

.advantages_item:nth-child(4) {
    grid-column: 1 / 4;
    background-color: #E6E6E6;
    height: 280px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.advantages_item:nth-child(4) p {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    text-transform: uppercase;
    width: 415px;
    padding: 30px 0 0 30px;
}

.advantages_item:nth-child(4) a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #616161;
    padding: 7px 24px;
    border: 0;
    border-radius: 5px;
    margin: 215px 40px 30px 0;
}

.advantages_item:nth-child(5) {
    grid-column: 4 / 7;
    background-color: #E6E6E6;
    height: 280px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.advantages_item:nth-child(5) p {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    text-transform: uppercase;
    width: 275px;
    padding: 30px 0 0 30px;
}

.advantages_item:nth-child(5) a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #616161;
    padding: 7px 24px;
    border: 0;
    border-radius: 5px;
    margin: 215px 40px 30px 0;
}

/**секция с партнерами и проектами**/

.projects h1 {
    margin-top: 65px;
    margin-bottom: 25px;
}

.project_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.project_card div {
    background-color: #2F2F2F;
    height: 485px;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_card div a {
    margin: 10px auto;
    font-size: 24px;
    font-weight: 200;
}

.project_card div p {
    padding: 20px;
    color: #ffffff;
    font-weight: 200;
}

div.evil p {
    padding: 20px 0px 47px 20px;
}

/**секция с мероприятиями**/

.event h1 {
    margin-top: 65px;
    margin-bottom: 25px;
}

.event_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.event_item {
    background-color: #2F2F2F;
    height: 118px;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.event_item p {
    color: #ffffff;
    width: 70%;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0px 0px 20px 20px;
}

/**секция с деятельностью**/

.activity {
    padding-bottom: 150px;
}

.activity h1 {
    margin-top: 65px;
    margin-bottom: 25px;
}

.activity_list {
    display: flex;
    justify-content: space-between;
}

.activity_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 188px;
}

.activity_item img {
    margin-bottom: 36px;
}

/**footer**/

footer {
    background-color: #2C2C2C;
}

.content_ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 55px 0 55px 0;
    border-bottom: 1px solid #A3A3A3;
}

.logo_ftr img {
    width: 322px;
}

.contacts_list li:not(:first-child) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;    
}

.contacts_list li:first-child, .users_info li:first-child, .partners li:first-child {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 32px;
    font-weight: 600;
}

.contacts_list li:nth-child(n+2) {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
}

.contacts_list li img {
    width: 28px;
    margin-right: 20px;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.users_info li a {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
}

.users_info li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.partners li a {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
}

.partners li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.footer_btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 ;
}





/** хлебные кррошки **/

.breadcrumb {
    padding-top: 120px;
}

.breadcrumb li {
    display: inline;
    font-weight: 300;
}

.breadcrumb li a {
    color: #000000;
}

.breadcrumb li:last-child {
    text-decoration: underline;
    color: #686868;
}

/**форма для ремонта**/

.form_repair h1 {
    margin: 40px 0 25px 0;
    width: 690px;
}

.form_repair_list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}

.auto_info .form_group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.auto_info .form_group:first-child {
    margin-top: 0;
}

.auto_info .form_group label {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    margin-bottom: 10px;
}

.auto_info .form_group input {
    background-color: #D9D9D9;
    width: 305px;
    height: 45px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.form_group_restyling {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 200;
    align-items: center;
}

/* .form_group_restyling input[type=checkbox] {
    display: none;
} */

.problem {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.problem .form_group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 20px;
    font-weight: 200;
}

.problem .form_group>input {
    background-color: #D9D9D9;
    width: 305px;
    height: 45px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.problem .form_group textarea {
    height: 325px;
    resize: none;
    text-align: top;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    border: 0;
    border-radius: 10px;
    background-color: #D9D9D9;
    outline: none;
}

.user_info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.user_info .form_group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 20px;
    font-weight: 200;
}

.user_info .form_group input {
    background-color: #D9D9D9;
    width: 305px;
    height: 45px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.button_form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 300px;
}

.button_form .form_group input[type=checkbox] {
    /* display: none; */
    /* margin-left: 10px; */
}

.button_form button {
    background-color: #B22A2A;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 17px 167px;
}




/** о компании и ее деятельности **/

.activity {
    padding-bottom: 110px;
}

.activity h1 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.activity_list {
    display: flex;
    justify-content: space-between;
}

.activity_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 188px;
}

.activity_item img {
    margin-bottom: 36px;
}

.activity_item figcaption {
    text-align: center;
}

/* блоки о деятельности компании */

.block_activity {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.block_activity_item:nth-child(1) {
    background-color: #686868;
    grid-column: 1 / 4;
}

.block_activity_item:nth-child(2) {
    background-color: #3d3d3d;
    grid-column: 4 / 7;
}

.block_activity_item:nth-child(3) {
    background-color: #6b5555;
    grid-column: 1 / 3;
}

.block_activity_item:nth-child(4) {
    background-color: #2d3246;
    grid-column: 3 / 7;
}

.block_activity_item:nth-child(5) {
    background-color: #50926e;
    grid-column: 1 / 5;
}

.block_activity_item:nth-child(6) {
    background-color: #686868;
    grid-column: 5 / 7;
}

.block_activity_item {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_activity_item p {
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 200;
    padding: 50px 0 0 50px;
}

.block_activity_item a {
    padding: 7px 47px;
    text-align: end;
}

.activity_item_btn {
    text-align: end;
    padding: 0px 50px 50px 0px;
}

.activity_item_btn a:last-child {
    margin-left: 50px;
}

.activity_item_btn a:first-child {
    background-color: #ffffff;
    color: #000000;
    border: 0;
    border-radius: 5px;
}

.activity_item_btn a:last-child {
    background-color: #B22A2A;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
}

.block_activity_item>a {
    background-color: #B22A2A;
    border: 0;
    border-radius: 5px;
    background-size: auto;
    
}

/**почему нас выбирают**/

.choice {
    margin-top: 65px;
}

.choice h1 {
    margin-bottom: 25px;
}

.choice_list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 140px;
}

.choice_list p {
    margin: auto 0;
}

.choice_carousel {
    height: 350px;
    background-color: #911b1b;
    border: 0;
    border-radius: 10px;
}

.reputation {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
}

.reputation_item {
    margin-bottom: 40px;
    background-color: #7c2828;
    border: 0;
    border-radius: 10px;
    align-items: center;
    padding: 25px ;
}

.reputation_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.icon_requtation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_requtation figure {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
}

.icon_requtation figure:first-child {
    margin-right: 30px;
}

.reputation_item p {
    color: #ffffff;
    font-weight: 200;
    padding: 25px 0;
}

.logo_brands {
    display: flex;
    column-gap: 35px;
    flex-wrap: wrap;
    text-align: center;
}

.logo_brands img {
    height: 54px;
}

/**categories_import**/

.import h1 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.categories_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;

}

.categories_item {
    height: 140px;
    border: 2px solid #878787;
    border-radius: 10px;
    padding: 30px 35px 0 30px;
    display: flex;
    justify-content: space-between;
}

.import {
    margin-bottom: 100px;
}

/**company_list**/

.company_list {
    margin-bottom: 150px;
}

.company_list ul {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.company_list ul li {
    background-color: #B22A2A;
    padding: 17px 14px;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
}





/**Категории запчастей для вашего авто**/
.category {
    margin-bottom: 100px;
}

.category h1 {
    margin: 40px 0 25px 0;
}

.category_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.category_item {
    overflow: hidden;
    border: 2px solid #878787;
    border-radius: 10px;
    padding: 30px 35px 0 30px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
}

.category_item:hover {
    background-color: #ececec;
}

.category_item img {
    margin-left: auto;
}

.category_item p {
    font-size: 16px;
    font-weight: 300;
}

.name_brand {
    margin-bottom: 150px;
}
/**name_brand**/

.name_brand {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    padding: 0 8px;
}

.name_brand li {
    background-color: #B22A2A;
    padding: 17px 14px;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
}



/**фильтр**/

.filter_parts>p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.vaz_lada_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.nissan_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.toyota_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.bmw_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.audi_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.mercedes_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.filter_parts {
    margin: 10px 0px 50px 0;
}

.btn_mod {
    background-color: #B22A2A;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.btn_mod:focus {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

.model_btn {
    display: flex;
    column-gap: 10px;
}

/**для двигателя**/

.engine_parts {
    margin-bottom: 200px;
}

.engine_parts h1 {
    margin: 40px 0 25px 0;
}

.parts_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 55px;
}

.parts_card {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.parts_card a {
    display: flex;
    margin: auto;
}

.parts_card a img {
    width: 200px;
    margin: 0 auto;
}

.name_parts {
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 10px 0;  
}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-bottom: 20px;
}

.options li {
    list-style: disc;
    margin-left: 20px;
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.button_card {
    margin: 0 auto;
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.button_card button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
}

.button_card button:last-child {
    background-color: #B22A2A;
}

.button_card span {
    font-size: 18px;
    font-weight: 500;
}
