@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&family=Michroma&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    text-decoration: none;
    background-color: #424242;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, input {
    font-family: inherit;
}

a {
    text-decoration: none;
    display: inline-block; 
    color: #ffffff;
}

header {
    margin-top: 20px;
    position: relative;
}

.container {
    width: 1292px;
    margin: 0 auto;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav_panel {
    width: 680px;
    margin-left: auto;
}

.nav_panel ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_panel ul li>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.basket {
    background-color: #ffffff;
    padding: 8px 22px;
    border: 2px #ffffff solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.basket:hover {
    border: 2px #000000 solid;
    transition: 0.2ms;
}

.basket img {
    width: 18px;
}

.basket a {
    color: #000000;
    font-weight: 600;
}

.cover {
    flex-direction: column;
    margin-top: 275px;
}

.cover span {
    color: #ffffff;
}

.cover span:first-child {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}

.name_company {
    font-family: "Michroma", sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.introduction {
    font-size: 20px;
    font-weight: 200;
    width: 460px;
}

.btn_cover {
    display: flex;
    margin-top: 27px;
}

.catalog_btn {
    align-items: center;
    background-color: #B22A2A;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 26px;
}

.catalog_btn a {
    font-family: "Manrope", sans-serif;
    padding: 10px 47px;
    font-weight: 700;
}

.catalog_btn:hover a {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2ms;
    border: 0;
    border-radius: 5px;
}

.recording_btn {
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.recording_btn a {
    font-family: "Manrope", sans-serif;
    padding: 10px 47px;
    color: #000000;
    font-weight: 700;
}

.recording_btn:hover a {
    background-color: #B22A2A;
    color: #ffffff;
    transition: 0.2ms;
    border: 0;
    border-radius: 5px;
}










/** Стилизация для Footer!!!!!! **/
footer {
    background-color: #2C2C2C;
}

footer .container {
    display: block;
}

.content_footer {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-top: 65px;
}
/** Стили для логотипа Footer!!!! **/
.logo_footer img {
    width: 300px;
}
/** Стили Контактной информации Footer!!!! **/
.contacts_ftr li:first-child {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 32px;
}

.contacts_ftr li:not(:first-child) {
    margin-bottom: 15px;
}

.contacts_ftr li:nth-child(2) img {
    margin-right: 10px;
}

.contacts_ftr li:nth-child(3) img {
    margin-right: 10px;
}

.contacts_ftr li:not(:first-child) {
    display: flex;
    color: #ffffff;
    font-weight: 300;
}

.contacts_ftr li:nth-child(4) img {
    margin-right: 10px;
}
/** Стили для секции Пользователю Footer!!!! **/
.users_info li:first-child {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 32px;
}

.users_info li a:not(:first-child) {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 16px;

}

.users_info li:not(:first-child) {
    text-decoration: underline;
}
/** Стили для секции Партнеры Footer!!!! **/
.partner_ftr li:first-child {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 32px;
}

/** Стили для секции подложки для Footer!!!! **/
