@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&family=Michroma&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    background-color: #ffffff;
    background-image: url(img/Главная/egor-vikhrev-S0cqn0mZU0E-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, input {
    font-family: inherit;
}

a {
    text-decoration: none;
    display: inline-block; 
    color: #ffffff;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

.container {
    width: 1292px;
    margin: 0 auto;
}

/**навигация**/

header {
    margin-top: 37px;
}

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li:not(:last-child) {
    margin-right: 27px;
}

.menu ul li>a {
    color: #000000;
}

.menu ul li a {
    font-weight: 600;
}

.basket_btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 8px 22px;
    margin-left: 40px;
}

.basket_btn img {
    margin-right: 10px;
}

.basket_btn a {
    color: #000000;
}

.basket_btn:hover {
    border: 2px solid #000000;
    transition: 0.2ms;
    cursor: pointer;
}

/** хлебные кррошки **/

.breadcrumb {
    padding-top: 50px;
}

.breadcrumb li {
    display: inline;
    font-weight: 300;
}

.breadcrumb li a {
    color: #000000;
}

.breadcrumb li:last-child {
    text-decoration: underline;
    color: #686868;
}

/**фильтр**/

.filter_parts>p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.vaz_lada_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.nissan_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.toyota_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.bmw_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.audi_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.mercedes_parts>p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

.filter_parts {
    margin: 10px 0px 50px 0;
}

.parts_filter_model {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.btn_mod {
    background-color: #B22A2A;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.btn_mod:focus {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

.model_btn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.parts_filter_v {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.parts_filter_v>div {
    display: flex;
    column-gap: 10px;
}

.btn_V {
    background-color: #B22A2A;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.btn_V:focus {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

/**для двигателя**/

.engine_parts {
    margin-bottom: 200px;
}

.engine_parts h1 {
    margin: 40px 0 25px 0;
}

.parts_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 55px;
}

.parts_card {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.parts_card a {
    display: flex;
    margin: auto;
}

.parts_card a img {
    width: 200px;
    margin: 0 auto;
}

.name_parts {
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 10px 0;  
}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-bottom: 20px;
}

.options li {
    list-style: disc;
    margin-left: 20px;
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.button_card {
    margin: 0 auto;
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.button_card button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
}

.button_card button:last-child {
    background-color: #B22A2A;
}

.button_card span {
    font-size: 18px;
    font-weight: 500;
}

/**footer**/

footer {
    background-color: #2C2C2C;
}

.content_ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 55px 0 55px 0;
    border-bottom: 1px solid #A3A3A3;
}

.logo_ftr img {
    width: 322px;
}

.contacts_list li:not(:first-child) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;    
}

.contacts_list li:first-child, .users_info li:first-child, .partners li:first-child {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 32px;
    font-weight: 600;
}

.contacts_list li:nth-child(n+2) {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
}

.contacts_list li img {
    width: 28px;
    margin-right: 20px;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.users_info li a {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
}

.users_info li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.partners li a {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
}

.partners li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.footer_btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 ;
}