<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <meta name="keywords" content="Автозапчасти, Ремонт авто, Сходразвал, импортные автозапчасти, тюнинг">
    <meta name="description" content="В нашем автосервисе вы найдете абсолютно любую запчасть для своего автомобиля. Наш автосервис производит ремонт любой слдожности">
    <title>FORMULA161|Автосервис|Автозапчасти</title>
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <a href="/index.html">
                    <img src="img/logo.png" alt="logo" style="background-color: beige;">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/о нас/index.html">О нас</a></li>
                    <li><a href="/категории каталога/index.html">Каталог</a></li>
                    <!-- <li><a href="services.html">Акции</a></li> -->
                    <li><a href="/ремонт/index.html">Ремонт</a></li>
                    <!-- <li><a href="services.html">Партнеры</a></li> -->
                    <!-- <li class="basket_btn">
                        <img src="img/icon/basket.svg" alt="basket">
                        <a href="contacts.html">Корзина</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="cover">
                <p>Вас приветствует автосервис</p>
                <span>Formula161</span>
                <p>Наша компания занимает лидерскую позицию в области продажи автозапчастей и ремонта легковых авто</p>
                <div class="cover_btn">
                    <a href="категории каталога/index.html">Каталог</a>
                    <a href="ремонт/index.html">Запись</a>
                </div>
            </section>
        </div>
        <section class="brands">
            <div class="container">
                <img src="img/Главная/brands/Logo-BMW-M-200mm-Front-v1.png" alt="bmw">
                <img src="img/Главная/brands/Audi-Logo.wine.png" alt="audi">
                <img src="img/Главная/brands/Volkswagen-Logo-1967.png" alt="vw">
                <img src="img/Главная/brands/Nissan_2020_logo.svg.png" alt="nissan">
                <img src="img/Главная/brands/honda_logo_icon_181334.png" alt="honda">
                <img src="img/Главная/brands/Toyota_Motor_North_America_logo_(2019).svg.png" alt="toyota">
                <img src="img/Главная/brands/Dodge-w-Ramhead.png" alt="dodge">
            </div>
        </section>
        <div class="container">
            <section class="advantages">
                <h1>Преимущества нашей компании</h1>
                <div class="advantages_list">
                    <div class="advantages_item">
                        <p>Работаем с авто любых возрастов</p>
                        <a href="ремонт/index.html">Запись</a>
                    </div>
                    <div class="advantages_item">
                        <p>Реставрация и восстановление после серьезных ДТП</p>
                        <a href="ремонт/index.html">Запись</a>
                    </div>
                    <div class="advantages_item">
                        <p>Лучшее качество материала и запчастей</p>
                        <a href="ремонт/index.html">Каталог</a>
                    </div>
                    <div class="advantages_item">
                        <p>Производим малярные работы в специализированных боксах</p>
                        <a href="ремонт/index.html">Запись</a>
                    </div>
                    <div class="advantages_item">
                        <p>Производим доставку запчастей из за рубежа</p>
                        <a href="ремонт/index.html">Заказать</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="projects">
                <h1>Партнеры и проекты</h1>
                <div class="project_card">
                    <div class="clubturbo">
                        <a href="">Club Turbo</a>
                        <p>Компания придерживается нестандартого решения задач и подходу к ним. Специализируется на ремонте авто и продажи запчастей для тюнинга.</p>
                    </div>
                    <div class="evil">
                        <a href="">Evil Wheels</a>
                        <p>Автосервис специализируется на подготовке вашего авто к соревновательным заездам и высоким нагрузкам. </p>
                    </div>
                    <div class="turbotema">
                        <a href="">TurboTema</a>
                        <p>Магазин продажи автозапчастей для тюнинга вашего авто. Так же производит ремонт гражданских авто на территории Ростовской области.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="event">
                <h1>Организация мероприятий</h1>
                <div class="event_list">
                    <div class="event_item">
                        <p>Организация соревнований по автозвуку и дрифт-заездам в Ростовской области</p>
                    </div>
                    <div class="event_item">
                        <p>Проведение мероприятий по оценке квалификации механиков в городе Ростов-на-Дону</p>
                    </div>
                    <div class="event_item">
                        <p>Проект “Japan Spare Parts” (заказ запчастей из Японии)</p>
                    </div>
                    <div class="event_item">
                       <p>Автосервис FORMULA161</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="activity">
                <h1>Деятельность компании</h1>
                <div class="activity_list">
                    <figure class="activity_item">
                        <img src="img/icon/car-repair_svgrepo.com.png" alt="repair">
                        <figcaption>Тюнинг авто и его усовершенствование</figcaption>
                    </figure>                
                    <figure class="activity_item">
                        <img src="img/icon/document.png" alt="document">
                        <figcaption>Оказание услуг в поиске запчастей из зарубежа</figcaption>
                    </figure>                                        
                    <figure class="activity_item">
                        <img src="img/icon/Vector activity.png" alt="mech">
                        <figcaption>Ремонт и техническое обслуживание</figcaption>
                    </figure>                                        
                    <figure class="activity_item">
                        <img src="img/icon/color.png" alt="color">
                        <figcaption>Произведение малярных работ</figcaption>
                    </figure>            
                    <figure class="activity_item">
                        <img src="img/icon/audio.png" alt="audio">
                        <figcaption>Установка и настройка аудиосистемы</figcaption>
                    </figure>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <section class="content_ftr">
                <div class="logo_ftr">
                    <a href="">
                        <img src="img/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="contacts_list">
                    <li>Контактные данные</li>
                    <li>
                        <img src="img/icon/location_on_FILL0_wght400_GRAD0_opsz24.svg" alt="map">
                        <span>ул. Доватора, 109, г. Ростов-на-дону, Ростовская обл. </span>
                    </li>
                    <li>
                        <img src="img/icon/call_FILL0_wght400_GRAD0_opsz24.svg" alt="phone">
                        <div class="numbers">
                            <span>+7 (999) 999-99-99</span>
                            <span>+7 (888) 888-88-88</span>
                        </div>
                    </li>
                    <li>
                        <img src="img/icon/mail_FILL0_wght400_GRAD0_opsz24.svg" alt="mail">
                        <span>formula161@gmail.com</span>
                    </li>
                </ul>
                <ul class="users_info">
                    <li>Пользователю</li>
                    <li><a href="">Пользовательское соглашение</a></li>
                    <li><a href="">Каталог</a></li>
                    <li><a href="">Предварительня запись на ремонт</a></li>
                    <li><a href="">Заказ импортных запчастей</a></li>
                    <li><a href="">Доставка и возврат</a></li>
                    <li><a href="">Корзина</a></li>
                </ul>
                <ul class="partners">
                    <li>Партнеры</li>
                    <li><a href="">Club Turbo</a></li>
                    <li><a href="">Drom</a></li>
                    <li><a href="">TurboTema</a></li>
                    <li><a href="">Avito</a></li>
                    <li><a href="">Lada Dеталь</a></li>
                    <li><a href="">Evil Wheels</a></li>
                </ul>
            </section>
            <div class="footer_btm">
                <p>©Formula161</p>
                <img src="img/icon/visa.png" alt="visa">
                <p>2024</p>
            </div>
        </div>  
    </footer>
    <script src="js/script.js"></script>
</body>
</html>