{% extends 'base.html' %}

{% load static %}

{% block title %}FORMULA161|Автосервис|Автозапчасти{% endblock title %}

{% block content %}
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="">Главная</a></li>
                <li>></li>
                <li>Каталог</li>
            </ul>
            <section class="category">
                <h1>Категории запчастей для вашего авто</h1>
                <div class="category_list">
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Для двигателя</p>
                        <img src="{% static 'img/Главная/для_двс.png' %}" alt="для_двс">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Для рулевая части</p>
                        <img src="{% static 'img/Главная/руль.png' %}" alt="руль">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Для подвески</p>
                        <img src="{% static 'img/Главная/подвеска.png' %}" alt="подвеска">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Ходовая часть</p>
                        <img src="{% static 'img/Главная/ходовая.png' %}" alt="ходовая">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>АКПП и МКПП</p>
                        <img src="{% static 'img/Главная/кпп.png' %}" alt="кпп">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Тормозная система</p>
                        <img src="{% static 'img/Главная/тормоза.png' %}" alt="тормоза">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Кузовные детали</p>
                        <img src="{% static 'img/Главная/кузов.png' %}" alt="кузов">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Электроника</p>
                        <img src="{% static 'img/Главная/мозг.png' %}" alt="мозг">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Аудиосистема</p>
                        <img src="{% static 'img/Главная/музыка.png' %}" alt="музыка">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Расходный материал</p>
                        <img src="{% static 'img/Главная/расходники.png' %}" alt="расходники">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Выхлопные системы и оптика</p>
                        <img src="{% static 'img/Главная/выхлоп.png' %}" alt="выхлоп">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Автохимия</p>
                        <img src="{% static 'img/Главная/химия.png' %}" alt="химия">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Шины и диски</p>
                        <img src="{% static 'img/Главная/колеса.png' %}" alt="колеса">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Импорт</p>
                        <img src="{% static 'img/Главная/импорт.png' %}" alt="импорт">
                    </a>
                    <a href="/каталог/автохимия/index.html" class="category_item">
                        <p>Комплекты</p>
                        <img src="{% static 'img/Главная/комплект.png' %}" alt="комплект">
                    </a>
                </div>
            </section>
            <ul class="name_brand">
                <li>Audi</li>
                <li>BMW</li>
                <li>Bentley</li>
                <li>Chevrolet</li>
                <li>Infiniti</li>
                <li>Ford</li>
                <li>Jaguar</li>
                <li>Lexus</li>
                <li>Mercedes-Benz</li>
                <li>Mitsubishi</li>
                <li>Mazda</li>
                <li>Nissan</li>
                <li>Volkswagen</li>
                <li>Toyota</li>
                <li>Shkoda</li>
                <li>Suzuki</li>
            </ul>
        </div>

{% endblock content %}