{% extends 'base.html' %}

{% load static %}

{% block title %}FORMULA161|Автосервис|Автозапчасти{% endblock title %}

{% block content %}
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="">Главная</a></li>
                <li>></li>
                <li>Каталог</li>
            </ul>
            <section class="category">
                <h1>Категории запчастей для вашего авто</h1>
                <div class="category_list">
                    {% for cat in object_list %}
                    <a href="/catalog/{{cat.pk}}" class="category_item">
                        <p>{{cat.title}}</p>
                        <img src="{{cat.img.url}}" alt="картинка">
                    </a>
                    {% endfor %}
                </div>
            </section>
            <ul class="name_brand">
                <li>Audi</li>
                <li>BMW</li>
                <li>Bentley</li>
                <li>Chevrolet</li>
                <li>Infiniti</li>
                <li>Ford</li>
                <li>Jaguar</li>
                <li>Lexus</li>
                <li>Mercedes-Benz</li>
                <li>Mitsubishi</li>
                <li>Mazda</li>
                <li>Nissan</li>
                <li>Volkswagen</li>
                <li>Toyota</li>
                <li>Shkoda</li>
                <li>Suzuki</li>
            </ul>
        </div>

{% endblock content %}