{% load static %}
<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">
                    {% if request.path == "/" %}
                    <img src="{% static '/img/logo.png' %}" alt="logo" >
                    {% else %}
                    <img src="{% static '/img/logo_bl.png' %}" alt="logo" >
                    {% endif %}
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/catalog">Каталог</a></li>
                    <!-- <li><a href="services.html">Акции</a></li> -->
                    <li><a href="/remont">Ремонт</a></li>
                    <!-- <li><a href="services.html">Партнеры</a></li> -->
                    <!-- <li class="basket_btn">
                        <img src="img/icon/basket.svg" alt="basket">
                        <a href="contacts.html">Корзина</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</header>