{% extends 'base.html' %}

{% load static %}

{% block title %}FORMULA161|Автосервис|Автозапчасти{% endblock title %}

{% block content %}
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li>></li>
                <li><a href="/catalog">Каталог</a></li>
                <li>></li>
                <li>Для двигателя</li>
            </ul>
            <section class="engine_parts">
                <h1>Для двигателя</h1>
                <div class="parts_list">
                    <div class="parts_card">
                        <a href="">
                            <img src="{% static '/img/карточки двс/vaz2101-07/vaz-2104-block.jpg' %}" alt="head_engine">
                        </a>
                        <p class="name_parts">ГБЦ 8v ВАЗ 2101-2107</p>
                        <ul class="options">
                            <li>под 1.5 Л</li>
                            <li>8 клапанов</li>
                            <li>полная комплектация</li>
                        </ul>
                        <p class="price">9 800</p>
                    </div>
                    <div class="parts_card">
                        <a href="">
                            <img src="{% static '/img/карточки двс/vaz2101-07/vaz-2104-block.jpg' %}" alt="head_engine">
                        </a>
                        <p class="name_parts">ГБЦ 8v ВАЗ 2101-2107</p>
                        <ul class="options">
                            <li>под 1.5 Л</li>
                            <li>8 клапанов</li>
                            <li>полная комплектация</li>
                        </ul>
                        <p class="price">9 800</p>
                    </div>
                    <div class="parts_card">
                        <a href="">
                            <img src="{% static '/img/карточки двс/vaz2101-07/vaz-2104-block.jpg' %}" alt="head_engine">
                        </a>
                        <p class="name_parts">ГБЦ 8v ВАЗ 2101-2107</p>
                        <ul class="options">
                            <li>под 1.5 Л</li>
                            <li>8 клапанов</li>
                            <li>полная комплектация</li>
                        </ul>
                        <p class="price">9 800</p>
                    </div>
                    <div class="parts_card">
                        <a href="">
                            <img src="{% static '/img/карточки двс/vaz2101-07/vaz-2104-block.jpg' %}" alt="head_engine">
                        </a>
                        <p class="name_parts">ГБЦ 8v ВАЗ 2101-2107</p>
                        <ul class="options">
                            <li>под 1.5 Л</li>
                            <li>8 клапанов</li>
                            <li>полная комплектация</li>
                        </ul>
                        <p class="price">9 800</p>
                    </div>
                    <div class="parts_card">
                        <a href="">
                            <img src="{% static '/img/карточки двс/vaz2101-07/vaz-2104-block.jpg' %}" alt="head_engine">
                        </a>
                        <p class="name_parts">ГБЦ 8v ВАЗ 2101-2107</p>
                        <ul class="options">
                            <li>под 1.5 Л</li>
                            <li>8 клапанов</li>
                            <li>полная комплектация</li>
                        </ul>
                        <p class="price">9 800</p>
                    </div>
                </div>
            </section>
        </div>

{% endblock content %}