{% extends 'base.html' %}

{% load static %}

{% block title %}FORMULA161|Автосервис|Автозапчасти{% endblock title %}

{% block content %}
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li>></li>
                <li><a href="/catalog">Каталог</a></li>
                <li>></li>
                <li>Для двигателя</li>
            </ul>
            <section class="engine_parts">
                <h1>Для двигателя</h1>
                <div class="parts_list">
                    {% for p in products %}
                    <div class="parts_card">
                        <a href="">
                            <img src="{{p.img.url}}" alt="head_engine">
                        </a>
                        <p class="name_parts">{{p.title}}</p>
                        <ul class="options">
                            {% for f in p.fields.all %}
                            <li>{{f.title}}</li>
                            {% endfor %}
                        </ul>
                        <p class="price">{{p.price}}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

{% endblock content %}